{% extends 'base.html' %} {% block body %}
<style>
  table,
  th,
  td {
    border: 1px solid white;
    color:white;
    text-align: center;
  }
</style>
<body style="background: black;overflow:hidden;">
<div style="width:100%;">
  <center>
<table style="width:50%;">
  <tr>
    <th></th>
    {% for date in next4dates %}
    <th>{{date|date:"d M"}}</th>
    {% endfor %}
  </tr>

  {% for slot, toSlot in timeSlots %}
  <tr>
    <th>{{slot}} - {{toSlot}}</th>
    <th><input type="checkbox" class="btn-check" id="btn-check-2-outlined-{{forloop.counter0}}-1" autocomplete="off" style="width:100%;">
<label class="btn btn-outline-secondary" for="btn-check-2-outlined-{{forloop.counter0}}-1" style="width:100%;">₹ {{sportPrice}}</label></th>
    <th><input type="checkbox" class="btn-check" id="btn-check-2-outlined-{{forloop.counter0}}-2" autocomplete="off" style="width:100%;">
<label class="btn btn-outline-secondary" for="btn-check-2-outlined-{{forloop.counter0}}-2" style="width:100%;">₹ {{sportPrice}}</label></th>
    <th><input type="checkbox" class="btn-check" id="btn-check-2-outlined-{{forloop.counter0}}-3" autocomplete="off" style="width:100%;">
<label class="btn btn-outline-secondary" for="btn-check-2-outlined-{{forloop.counter0}}-3" style="width:100%;">₹ {{sportPrice}}</label></th>
    <th><input type="checkbox" class="btn-check" id="btn-check-2-outlined-{{forloop.counter0}}-4" autocomplete="off" style="width:100%;">
<label class="btn btn-outline-secondary" for="btn-check-2-outlined-{{forloop.counter0}}-4" style="width:100%;">₹ {{sportPrice}}</label></th>

  </tr>
  {% endfor %}
</table>
<button type="button" class="btn btn-success" style="margin-top:1rem;font-size:2rem;">Book Now</button>
</center>
</div>
<script>
  const urlParams = new URLSearchParams(window.location.search);
  const sport = urlParams.get("sport");
  const venue = urlParams.get("venue");
</script>
{% endblock body %}